@{
    ViewBag.Title = "Laptops";

    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Laptops</h2>

@section tab{
    <div id="menu_tab">
        <div class="left_menu_corner"></div>
        <ul class="menu">
            <li><a href="/Home/index" class="nav1 style4">  Home </a></li>
            <li class="divider"></li>
            <li><a href="/Account/SignUp" class="nav4 style4">Sign Up</a></li>
            <li class="divider"></li>
            <li><a href="/Home/About" class="nav5 style4">About </a></li>
            <li class="divider"></li>
            <li><a href="/Home/contact" class="nav6 style4">Contact Us</a></li>
            <li class="divider"></li>
            <li><a href="/Account/Login" class="nav4 style4">Login</a></li>
            <li class="divider"></li>
        </ul>


    </div><!-- end of menu tab -->
}


@section left
     {
    <div class="left_content">
        <div class="title_box">Categories</div>

        <ul class="left_menu">
            <li class="even"><a href="/Home/Laptops">Laptop</a></li>
            <li class="odd"><a href="/Home/WebCam">Webcam</a></li>

            <li class="even"><a href="/Home/Mobile">Mobile Phones</a></li>
        </ul>


}
@model List<onlineShop.Models.product>

<div class="center_content">
    @foreach (var product in Model)
    {
        if (product.productName.Equals("Laptops"))
        {
            <div class="prod_box">
                <div class="top_prod_box"></div>
                <div class="center_prod_box">
                    <div class="product_title"> @product.productName</div>
                    <div class="product_img"><img src="@product.productImage" border="0" /></div>
                    <div class="product_comapny"><h3>Company </h3> @product.productCompany</div>
                    <div class="prod_price"><h3>Price </h3> @product.productPrice</div>
                    <div class="prod_quantity"><h3>Quantity </h3> @product.productQuantity</div>
                    <div class="prod_color"><h3>Colors</h3>@product.productColor</div>
                </div>



            </div>

        }
    }
    &nbsp &nbsp &nbsp &nbsp<b>@Html.ActionLink("Back To Home", "Index")</b>
</div>

@section cartTab{
    <div class="right_content">
        <div class="shopping_cart">
            <div class="cart_title style5">Shopping cart</div>

            <div class="cart_details">
                <h2>View Cart</h2>
                <br />
            </div>

            <div class="cart_icon"><a href="/ShoppingCart/Index" title="header=[Checkout] body=[&nbsp;] fade=[on]"><img src="~/images/shoppingcart.png" alt="" title="" width="48" height="48" border="0" /></a></div>

        </div>
}


